.header {
    background-image: url(../Assets/hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    height: 500px;
}
.header_fondo {
    background-color: #2121217a;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.header_fondo h1,
p {
    color: var(--blanco);
    text-align: center;
}
.header_fondo a {
    text-decoration: none;
    padding: 1rem;
    background-color: var(--secundario);
    color: var(--blanco);
    border-radius: 1rem;
}
.header_fondo a:hover {
    background-color: var(--primario);
    color: var(--oscuro);
    transition: 500ms;
}
